<div class="row" style="width: 60%; margin: 0 auto;">
	<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
		<div class=" title_font"><%= @product.name %></div>
		<div class="description_font">
			Description: <%= @product.description %> <br>
			Price: <%= @product.price %> <br>
			In stock: <%= @product.stock %>
		</div>
	</div>
</div>