html,body {
	margin: 0px;
	background: #808B96;
}

.head_style {
	padding: 10px 5px;
}

.head_img {
	heigth: 50px;
	width: 50px;
}

.head_icon {
	heigth: 10px;
	width: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}